/* *{ 
  overflow: clip;
} */
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.navs {
  background-color: rgb(230, 196, 151);
}
.navs .navbar-brand {
  font-family: Lobster;
  color: rgb(170, 2, 2);
  font-size: 38px;
}
.navs .navbar-brand:hover {
  color: black;
}
.navs .nav-link {
  color: black;
  font-size: 18px;
  margin-left: 90px;
}

.navs .nav-link:hover {
  color: rgb(170, 2, 2);
  font-size: 18px;
}
.navs .btns:hover {
  background-color: black;
  border-color: black;
  color: #fff;
  text-decoration: none;
}
.navs .btns {
  background-color: rgb(170, 2, 2);
  border-color: rgb(170, 2, 2);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 25px;
  color: #fff;
}
.navs .btns .nav-link {
  font-size: 15px;
}
.navs .btns .nav-link:hover {
  color: #fff;
}
.bg {
  padding-top: 160px;
  width: 100%;
  background-image: url(cof2.jpg);
  background-position: end;
  background-size: cover;
  padding-bottom: 80px;
}
.bg h1 {
  color: #fdbb64;
  padding-bottom: 25px;
  font-size: 40px;
}
.bg .pan {
  color: rgb(170, 2, 2);
  font-family: Lobster;
}
.bg h2 {
  color: #fff;
  padding-bottom: 10px;
  font-size: 33px;
  font-family: cursive;
}
.bg h3 {
  color: #fdbb64;
  font-size: 30px;
  padding-bottom: 10px;
}
@media (max-width: 768px) {
  .bg h1 {
    padding-bottom: 25px;
    font-size: 30px;
  }

  .bg h2 {
    padding-bottom: 10px;
    font-size: 28px;
  }
  .bg h3 {
    font-size: 20px;
    padding-bottom: 10px;
  }
  .bg h4 {
    font-size: 13px;
  }
}
.fade-in-text {
  opacity: 0;
  transition: opacity 5s ease-in-out;
}

.fade-in {
  opacity: 5;
}

.slide-left-container h1 {
  width: 100%;
  overflow: hidden;
}

.slide-left-box h1 {
  width: 100%;
  margin: 0 auto;
  transform: translateX(-100%);
  animation: slideLeft 5s ease-out forwards;
}

@keyframes slideLeft {
  to {
    transform: translateX(0);
  }
}

.slide-left-container h2 {
  width: 100%;
  overflow: hidden;
}

.slide-left-box h2 {
  width: 100%;
  margin: 0 auto;
  transform: translateX(-60%);
  animation: slideLeft 4s ease-out forwards;
}

@keyframes slideLeft {
  to {
    transform: translateX(0);
  }
}

.slide-left-container h3 {
  width: 100%;
  overflow: hidden;
}

.slide-left-box h3 {
  width: 100%;
  margin: 0 auto;
  transform: translateX(-40%);
  animation: slideLeft 3.5s ease-out forwards;
}

@keyframes slideLeft {
  to {
    transform: translateX(0);
  }
}

.shake-container {
  display: flex;
}

.shake {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
}

.jiggle-container {
  display: flex;
  margin-left: 90px;
}

.jiggle-box {
  transform-origin: center;
  animation: jiggle 0.7s infinite;
}

@keyframes jiggle {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  75% {
    transform: rotate(5deg);
  }
}

.bg h4 {
  color: rgb(170, 2, 2);
  font-size: 22px;
  padding-bottom: 20px;
  font-family: pacifico;
}
.bg .now {
  background-color: rgb(252, 172, 68);
  border-color: rgb(252, 172, 68);
  color: rgb(170, 2, 2);
  border-radius: 30px;
  margin-top: 8px;
  font-size: 15px;
}
.bg .now:hover {
  background-color: #fff;
  border-color: #fff;
  color: rgb(170, 2, 2);
  text-decoration: none;
}

/*about*/
#about {
  font-size: 14px;
}
.abt {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
}
.abt h2 {
  margin-bottom: 20px;
  color: rgb(170, 2, 2);
}

.slide-down-container {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}

.slide-down-container.visible {
  max-height: 1000px;
  transition: max-height 13.5s ease-in-out;
}

.slide-down-text {
  opacity: 0;
  transition: opacity 13.5s ease-in-out infinite;
}

.slide-down-container.visible .slide-down-text {
  opacity: 1;
  transition: opacity 2.5s ease-in-out;
}

.vary h2 {
  text-align: center;
  font-family: kaushan script;
  font-size: 37px;
}

/* Company's goal */
#goals{
  font-size: 14px;
}
.goal {
  text-align: center;
  
}
.goal h2 {
  margin-top: 60px;
  color: rgb(170, 2, 2);
}
.carousel-control-next-icon{
  display: none;
}
/*card*/

.cd .card {
  background-color: rgb(235, 235, 235);
  border-color: none;
  padding-bottom: 3px;
  border-radius: 0px;
}
.cd p {
  padding-bottom: 5px;
}
.cd .btnn {
  background-color: rgb(170, 2, 2);
  border-color: rgb(170, 2, 2);
  border-radius: 30px;
}
.cd .btnns {
  background-color: black;
  border-color: black;
  border-radius: 30px;
}
.cd .btnn:hover {
  background-color: black;
  border-color: black;
  color: #fff;
}
.cd .cdd {
  margin-top: 120px;
}
.ctn h1 {
  color: rgb(170, 2, 2);
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
}
.ctn .ctns {
  margin-top: 30px;
  margin-bottom: 20px;
}
.ctn .ctns .cct {
  color: #c20202;
}
.ctn .ct {
  background-color: rgb(237, 237, 238);
  margin-top: 50px;
  padding-bottom: 5px;
}
.ctn .ctt {
  background-color: #c20202;
}
@media (max-width: 768px) {
  .ctn .ctt .map {
    width: 240px;
  }
  #secret p {
    font-size: 12px;
  }
  #secret img {
    display: none;
  }
}
@media (max-width: 1240px) {
  #secret img {
    display: none;
  }
}

.ctn .ct .forms {
  padding-bottom: 50px;
}
.price h1 {
  margin-top: 20px;
  color: rgb(170, 2, 2);
  text-align: center;
  padding-bottom: 25px;
}
.price {
  background-color: rgb(230, 232, 233);
  margin-top: 80px;
  margin-bottom: 110px;
}
.teas .tea:hover {
  background-color: #c20202;
}
.cd h1 {
  margin-top: 80px;
  color: rgb(170, 2, 2);
  text-align: center;
}
.cd p {
  text-align: center;
}
.forms input {
  width: 420px;
  height: 45px;
  border: transparent;
}
.forms textarea {
  width: 420px;
  height: 120px;
  border: transparent;
}
.forms .btnn {
  background-color: rgb(170, 2, 2);
  border-color: rgb(170, 2, 2);
  border-radius: 10px;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 22px;
  padding-right: 22px;
}
.forms .btnn:hover {
  background-color: black;
  border-color: black;
  border-radius: 10px;
}
.footers {
  background-color: rgb(230, 196, 151);
  height: 130px;
  margin-top: 120px;
}
.footers p {
  text-align: center;
  padding-top: 10px;
  color: rgb(31, 30, 30);
}
.footers a {
  color: rgb(184, 3, 3);
  font-size: 20px;
}
.footers a:hover {
  color: rgb(31, 30, 30);
}
